body{
    background-color: rgba(188, 188, 143, 0.532);
}

a{
    border-width: 5px;
    border-style: solid;
    border-color: green;

}

p{
    font-family:"Times New Roman", Tahoma, arial;
    border-color: blue;
}