{% extends "account/base_account.html" %}
{% load allauth i18n %}
{% load allauth account %}
{% load socialaccount %}

{% block title %}Login - HackProof{% endblock %}

{% block header %}
<h1 class="h4 text-gray-900 mb-4">Bem-Vindo de Volta!</h1>
{% endblock %}

{% block content %}
<form class="user" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    <div class="form-group">
        <input type="text" class="form-control form-control-user" id="exampleInputEmail" name="login" aria-describedby="emailHelp" placeholder="Insira o username ou o email " required>
    </div>
    <div class="form-group">
        <input type="password" class="form-control form-control-user" id="exampleInputPassword" name="password" placeholder="Password" required>
    </div>
    <div class="form-group">
        <div class="custom-control custom-checkbox small">
            <input type="checkbox" class="custom-control-input" id="customCheck">
            <label class="custom-control-label" for="customCheck">Lembrar-me</label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-user btn-block">Login</button>
    <hr>
    <a href="{% provider_login_url 'google' process='login' %}" class="btn btn-google btn-user btn-block">
        <i class="fab fa-google fa-fw"></i> Login com o Google
    </a>
</form>
<hr>
<div class="text-center">
    <a class="small" href="{% url 'account_reset_password' %}">Esqueci-me da Password?</a>
</div>
<div class="text-center">
    <a class="small" href="{% url 'account_signup' %}">Criar Conta!</a>
</div>
{% endblock %}
