{% extends "account/base_account.html" %}
{% load allauth i18n %}


{% block title %}Logout - HackProof{% endblock %}

{% block header %}
<h1 class="h4 text-gray-900 mb-4">Obrigado por usar o nosso serviço. Esperamos vê-lo brevemente.</h1>
{% endblock %}

{% block content %}
<form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary btn-user btn-block">Sign Out</button>
</form>
<a href="{% url 'main_page' %}" class="btn btn-primary btn-user btn-block mt-3">
    Voltar para a página principal
</a>
{% endblock %}

