{% extends "account/base_account.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}

{% block title %}
    {% trans "Reposição de Senha" %}
{% endblock title %}

{% block header %}
    <h1 class="h4 text-gray-900 mb-4">{% trans "Reposição de Senha" %}</h1>
{% endblock header %}

{% block content %}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% else %}
        <p class="mb-4">
            {% blocktrans %}Enviamos-lhe um email. Se não o recebeu, por favor verifique a sua pasta de spam. Caso contrário, entre em contato connosco se não o receber dentro de alguns minutos.{% endblocktrans %}
        </p>
    {% endif %}
{% endblock content %}

