{% extends "account/base_account.html" %}

{% block title %}Esqueci-me da Password - HackProof{% endblock %}

{% block header %}
<h1 class="h4 text-gray-900 mb-4">Recuperar Password</h1>
{% endblock %}

{% block content %}
<form class="user" method="POST" action="{% url 'account_reset_password' %}">
    {% csrf_token %}
    <div class="form-group">
        <input type="email" class="form-control form-control-user" id="exampleInputEmail" name="email" aria-describedby="emailHelp" placeholder="Insira o seu E-mail..." required>
    </div>
    <button type="submit" class="btn btn-primary btn-user btn-block">Recuperar Password</button>
</form>
<hr>
<div class="text-center">
    <a class="small" href="{% url 'account_login' %}">Voltar ao Login</a>
</div>
<div class="text-center">
    <a class="small" href="{% url 'account_signup' %}">Criar Conta!</a>
</div>
{% endblock %}

