{% extends "account/base_account.html" %}
{% load allauth i18n %}
{% load allauth account %}
{% load socialaccount %}


{% block title %}Registar Conta - HackProof{% endblock %}

{% block header %}
<h1 class="h4 text-gray-900 mb-4">Registar Conta</h1>
{% endblock %}

{% block content %}
<form id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    <div class="form-group">
        <input type="text" name="username" class="form-control form-control-user" id="login" placeholder="{% trans 'Username' %}" required>
    </div>
    <div class="form-group">
        <input type="email" name="email" class="form-control form-control-user" id="email" placeholder="{% trans 'Endereço E-mail' %}" required>
    </div>
    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <input type="password" name="password1" class="form-control form-control-user" id="password1" placeholder="{% trans 'Password' %}" required>
        </div>
        <div class="col-sm-6">
            <input type="password" name="password2" class="form-control form-control-user" id="password2" placeholder="{% trans 'Repetir Password' %}" required>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-user btn-block" value="signup">
        {% trans "Registar Conta" %}
    </button>
</form>
<hr>
<a href="{% provider_login_url 'google' process='login' %}" class="btn btn-google btn-user btn-block">
    <i class="fab fa-google fa-fw"></i> {% trans "Registar com o Google" %}
</a>
<hr>
<div class="text-center">
    <a class="small" href="{% url 'account_reset_password' %}">{% trans "Esqueceste-te da Password?" %}</a>
</div>
<div class="text-center">
    <a class="small" href="{% url 'account_login' %}">{% trans "Já tens uma conta? Login!" %}</a>
</div>
{% endblock %}


