{% extends "account/base_account.html" %}
{% load i18n %}
{% block head_title %}
    Verifique o Seu Endereço de Email
{% endblock head_title %}
{% block content %}
    <div class="text-center">
        <h1 class="h3 text-gray-900 mb-3">Verifique o Seu Endereço de Email</h1>
        <p class="mb-3">
            Enviámos um email para você para verificação. Siga o link fornecido para finalizar o processo de inscrição. 
            Se não encontrar o email de verificação na sua caixa de entrada principal, verifique a pasta de spam. 
            Por favor, entre em contato conosco se não receber o email de verificação dentro de alguns minutos.
        </p>
    </div>
{% endblock content %}

