{% extends "base.html" %}

{% block title %}
Estatísticas
{% endblock %}

{% block content %}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Estatística de Acessos</h1>
                    <p class="mb-4">Aqui encontra alguns dados relevantes sobre os acessos e modificações ao seu diretório escolhido.</p>

                    <!-- Content Row -->
                    <div class="row">

                        <div class="col-xl-8 col-lg-7">

                            <!-- Area Chart -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary"> Estatística do presente Ano </h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="myAreaChart"></canvas>
                                    </div><!--
                                    <hr>
                                    Styling for the area chart can be found in the
                                    <code>/js/demo/chart-area-demo.js</code> file.-->
                                </div>
                            </div>

                            <!-- Bar Chart -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary"> Estatística desde sempre </h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-bar">
                                        <canvas id="myBarChart" style="height: 400px;"></canvas> <!-- Set the height here -->
                                    </div>
                                    <!--
                                    <hr>
                                    Styling for the bar chart can be found in the
                                    <code>/js/demo/chart-bar-demo.js</code> file.-->
                                </div>
                            </div>

                        </div>
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Tipos de Acessos Hoje</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie pt-4">
                                        <canvas id="myPieChart"></canvas>
                                    </div>
                                    <!--
                                    <hr>
                                    Styling for the donut chart can be found in the
                                    <code>/js/demo/chart-pie-demo.js</code> file.-->
                                </div>
                            </div>
                        </div>
                        
                        <!-- Include the Chart.js library -->
                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                        <script>
                            // Parse the event_counts data from the Django context
                            var eventCounts = JSON.parse('{{ event_counts|escapejs|safe }}');

                            // Generate the labels and data arrays
                            var labels = Object.keys(eventCounts);
                            var data = Object.values(eventCounts);
                        
                            // Set up the chart
                            var ctx = document.getElementById('myPieChart');
                            var myPieChart = new Chart(ctx, {
                                type: 'doughnut',
                                data: {
                                    labels: labels,
                                    datasets: [{
                                        data: data,
                                        backgroundColor: ['#89CFF0', '#A1CAF1', '#B0E0E6'],
                                    }],
                                },
                                options: {
                                    maintainAspectRatio: false,
                                    tooltips: {
                                        backgroundColor: "rgb(255,255,255)",
                                        bodyFontColor: "#858796",
                                        borderColor: '#dddfeb',
                                        borderWidth: 0.5,
                                        xPadding: 15,
                                        yPadding: 15,
                                        displayColors: false,
                                        caretPadding: 10,
                                    },
                                    legend: {
                                        display: false
                                    },
                                    cutoutPercentage: 150,  // Increase this value to make the chart thinner
                                },
                            });
                            var ctx = document.getElementById('myBarChart');

                            // Parse the total data from the Django context
                            var total = '{{ all_event_counts|escapejs|safe }}';

                            var myBarChart = new Chart(ctx, {
                                type: 'bar',
                                data: {
                                    labels: ['2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024'],  // Labels for the bars
                                    datasets: [{
                                        label: 'Total de Acessos',
                                        data: [0, 0, 0, 0, 0, 0, 0, 0, total],  // Data points for the bars
                                        backgroundColor: ['#2f56c7'],
                                    }],
                                },
                                options: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero: true,
                                                max: total  // Set the maximum value of the y-axis
                                            }
                                        }]
                                    }
                                },
                            });
                        </script>                    
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
{% endblock content %}
