{% extends "base.html" %}

{% block title %}
Definições
{% endblock %}

{% block content %}
{% load static %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Definições da Conta</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- Settings Form -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Gerir Conta</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div id="accordion">
                        <!-- Update User -->
                        <div class="card">
                            <div class="card-header" id="headingUser">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseUser" aria-expanded="true" aria-controls="collapseUser">
                                        Atualizar Perfil
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseUser" class="collapse show" aria-labelledby="headingUser" data-parent="#accordion">
                                <div class="card-body">
                                    <form method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="{{ user_form.first_name.id_for_label }}">Primeiro Nome:</label>
                                            {{ user_form.first_name }}
                        
                                        </div>
                                        <div class="form-group">
                                            <label for="{{ user_form.last_name.id_for_label }}">Último Nome:</label>
                                            {{ user_form.last_name }}
                                            
                                        </div>
                                        <button type="submit" name="update_user" class="btn btn-primary">Atualizar Perfil</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- Change Password -->
                        <div class="card">
                            <div class="card-header" id="headingPassword">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapsePassword" aria-expanded="false" aria-controls="collapsePassword">
                                        Alterar Password
                                    </button>
                                </h5>
                            </div>
                            <div id="collapsePassword" class="collapse" aria-labelledby="headingPassword" data-parent="#accordion">
                                <div class="card-body">
                                    <form method="post">
                                        {% csrf_token %}
                                        {{ password_form.as_p }}
                                        <button type="submit" name="change_password" class="btn btn-primary">Alterar Password</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- Delete Account -->
                        <div class="card">
                            <div class="card-header" id="headingDeleteAccount">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseDeleteAccount" aria-expanded="false" aria-controls="collapseDeleteAccount">
                                        Excluir Conta
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseDeleteAccount" class="collapse" aria-labelledby="headingDeleteAccount" data-parent="#accordion">
                                <div class="card-body">
                                    <form method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="deleteAccountPassword">Confirme sua Senha</label>
                                            <input type="password" class="form-control" id="deleteAccountPassword" name="password" placeholder="Senha Atual">
                                        </div>
                                        <button type="submit" name="delete_account" class="btn btn-danger">Excluir Conta</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- Other Admin Settings -->
                        <!-- Add other admin related settings here -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Content Row -->
</div>
<!-- End Container Fluid -->
{% endblock content %}