{% extends "base.html" %}

{% block title %}
Dicas
{% endblock %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Dicas e Boas Práticas de Segurança Informática</h1>
        <p class="mb-4">Este espaço é dedicado a fornecer dicas e boas práticas para garantir a sua segurança informática. Explore os artigos para aprender mais sobre como proteger-se contra ameaças online e garantir a segurança dos seus dispositivos.</p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Artigos</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Título</th>
                                <th>Descrição</th>
                                <th>Imagem</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for article in articles %}
                                <tr>
                                    <td><a href="{{ article.url }}" target="_blank">{{ article.title }}</a></td>
                                    <td>{{ article.description }}</td>
                                    <td><img src="{{ article.urlToImage }}" alt="{{ article.title }}" width="200"></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Main Content -->
{% endblock content %}