{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block title %}
Página Principal
{% endblock %}

{% block content %}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Escrever algo</h1>
                        <!--<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>-->
                    </div>
                    <!-- Content Row -->

                    <div class="row">
                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary"> Estatística do presente Mês </h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="myAreaChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pie Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary"> Tipos de Acessos</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie pt-4">
                                        <canvas id="myPieChart"></canvas>
                                    </div>
                                    <!--
                                    <hr>
                                    Styling for the donut chart can be found in the
                                    <code>/js/demo/chart-pie-demo.js</code> file.-->
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-6 mb-4">


                            <!-- Approach -->
                            <div class="card shadow mb-4" style="width: 200%;"> <!-- Ajuste a altura conforme necessário -->
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Dicas e Boas Práticas</h6>
                            </div>
                                <div class="card-body">
                                    <div class="card mb-4">
                                <div class="card-body" style="line-height: 1.6; font-family: Arial, sans-serif;">
                                    {% for article in page_obj %}
                                        <h2 style="font-size: 1.2em;"><a href="{{ article.url }}" target="_blank">{{ article.title }}</a></h2>
                                        <div style="display: flex; align-items: flex-start;">
                                            <img src="{{ article.urlToImage }}" alt="{{ article.title }}" width="100" style="margin-right: 20px;">
                                            <p>{{ article.description }}</p>
                                        </div>
                                        <hr>
                                    {% endfor %}
                                </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
                        <!-- Include the Chart.js library -->
                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                        
                        <script>
                            // Parse the event_counts data from the Django context
                            var eventCounts = JSON.parse('{{ event_counts|escapejs|safe }}');
                        
                            // Generate the labels and data arrays
                            var labels = Object.keys(eventCounts);
                            var data = Object.values(eventCounts);
                        
                            // Set up the chart
                            var ctx = document.getElementById('myPieChart');
                            var myPieChart = new Chart(ctx, {
                                type: 'doughnut',
                                data: {
                                    labels: labels,
                                    datasets: [{
                                        data: data,
                                        backgroundColor: ['#89CFF0', '#A1CAF1', '#B0E0E6'],
                                    }],
                                },
                                options: {
                                    maintainAspectRatio: false,
                                    tooltips: {
                                        backgroundColor: "rgb(255,255,255)",
                                        bodyFontColor: "#858796",
                                        borderColor: '#dddfeb',
                                        borderWidth: 0.5,
                                        xPadding: 15,
                                        yPadding: 15,
                                        displayColors: false,
                                        caretPadding: 10,
                                    },
                                    legend: {
                                        display: false
                                    },
                                    cutoutPercentage: 150,  // Increase this value to make the chart thinner
                                },
                            });
                        </script> 
    {% endblock content%}
