{% extends "base.html" %}
{% load static %}

{% block title %}
Perfil
{% endblock %}

{% block content %}

    <div class="container-fluid profile-container">
        <!-- Content Row -->
        <div class="row">
            <!-- Profile Info -->
            <div class="col-xl-8 col-lg-7">
                <div class="card shadow mb-4">
                    <!-- Card Header -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Informações do Perfil</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <img class="img-profile rounded-circle" src="{% static 'img/undraw_profile.svg' %}" alt="Profile Picture">
                            </div>
                            <div class="col-lg-8">
                                <h4>{{ user.first_name }} {{user.last_name}}</h4>
                                <p>Email: {{ user.email }}</p>
                                <p>Último Login: {{ user.last_login}}</p>
                                <p>Nome de Utilizador: {{ user.username }}</p>
                                <p>Data de Registo: {{ user.date_joined}}</p>
                                <!-- Edit Profile Button -->
                                <a href="{% url 'definicoes' %}" class="btn btn-primary mt-3">Editar Perfil</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Content Row -->
    </div>
    <!-- End Container Fluid -->

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

{% endblock content %}
