{% extends "account/base_account.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Iniciar Sessão" %}
{% endblock head_title %}
{% block content %}


<div class="row">
    <div class="col-lg-12">
        <div class="p-5">
        {% if process == "connect" %}
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">{% blocktrans with provider.name as provider %}Conectar {{ provider }}{% endblocktrans %}</h1>
            </div>
            <p>
                {% blocktrans with provider.name as provider %}Você está prestes a conectar uma nova conta de terceiros de {{ provider }}.{% endblocktrans %}
            </p>
        {% else %}
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">{% blocktrans with provider.name as provider %}Iniciar Sessão Via {{ provider }}{% endblocktrans %}</h1>
            </div>
            <p>
                {% blocktrans with provider.name as provider %}Você está prestes a fazer login usando uma conta de terceiros de {{ provider }}.{% endblocktrans %}
             </p>
        {% endif %}
            <form method="post" class="user">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-user btn-block">
                    {% trans "Continuar" %}
                </button>
            </form>
            <a href="{% url 'account_login' %}" class="btn btn-primary btn-user btn-block mt-3">
                Voltar para o login
            </a>
            </form>
        </div>
    </div>
</div>
                
       
{% endblock content %}


